{{template "base" .}}

{{define "content"}}
<div class="container">
   <div class="row">
      <div class="col">

         <h1>About NJM Hotel</h1>

         <p>
            <img style="float: right; display: inline-block; max-width: 400px; padding: 5px;" src="/static/images/outside.png">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem hic, facilis consequatur quia, sunt, labore
            ullam voluptatum doloremque eligendi libero mollitia fugiat dolore odio itaque! Minus voluptatum officiis
            quaerat minima?
         </p>

         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente ad error beatae. Quos quae esse ratione
            eum ex nisi praesentium, vitae veniam omnis distinctio blanditiis dolor officia. Ut, eum! Temporibus?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit totam accusamus placeat dolores ipsa dolore
            qui? Dolores dignissimos quaerat molestiae tempore consequuntur porro, dolorum ratione, placeat itaque nihil
            expedita sit.</p>
      </div>
   </div>
</div>
{{end}}