{{template "base" .}}

{{define "content"}}
<div class="container">
   <div class="row">
      <div class="col">

         <h1 class="mt-3">About NJM Hotel</h1>
         <p>
            <img style="float: right; display: inline-block; max-width: 560px; padding: 10px;"
               src="/static/images/outside.png">
            The mission of our hotel is to provide outstanding lodging facilities and services to our guests. Our hotel
            focuses on
            individual business and leisure travel, as well as travel associated with groups meetings .we emphasise high
            quality
            standards in our rooms and food and beverage divisions. We provide a fair return on investment for our
            owners and
            recognize that this cannot be done without well trained , motivated and enthusiastic employees.
         </p>

         <p>We create an environment of lateral service so that the needs of our guests and each other are met. We value
            every individual’s contribution and personal growth within the company. We treat everyone with dignity and
            respect at all times. We do what we say we will do and are honest and fair. We will take an active role in
            service to our community.</p>
         <p>The NJM Hotel, with its unique sense of history and place, is devoted to creating enduring relationships
            with our
            guests and members by providing highly personalized service and gracious hospitality in an informally
            elegant
            atmosphere. Our greatest asset, and the key to our success, is our people. We believe that true world-class
            status is only achieved
            when a resort combines the traditions of its local community with exceptional personal service. We believe
            each of us needs a sense of dignity, pride and satisfaction in what we do. Because satisfying our guests
            depends on the united efforts of many, we are most effective when we work together cooperatively, respecting
            each
            other’s contributions and importance.</p>
      </div>
   </div>
</div>
{{end}}