{{template "base" .}}
<style>
  .links ul {
    text-align: start;
   }
  .links li {
   list-style: none;
   }
  .links a {
     text-decoration: none;
     color: whitesmoke;
  }
  .links a:hover {
      text-decoration: underline;
      color: orange;
   }
</style>
{{define "content"}}
<div class="container bg text-center" style="min-height: 100vh;">
   <div class="row">
      <div class="col links text-center" style="margin-top: 10rem;">

         <h1>Choose a room</h1>
         {{$rooms := index .Data "rooms"}}

         <ul>
            {{range $rooms}}
               <li>
                  <a style="font-size: 1.4rem;" href="/choose-room/{{.ID}}">{{.RoomName}}<br></a>
               </li>
            {{end}}
         </ul>
         
      </div>
   </div>
</div>
{{end}}