{{template "base" .}}

{{define "content"}}
<div class="container text-center" style="min-height: 90vh;">
   <div class="row">
      <div class="col text-center">

         <h1>Choose a room</h1>
         {{$rooms := index .Data "rooms"}}

         <ul>
            {{range $rooms}}
               <li>
                  <a style="font-size: 1.4rem;" href="/choose-room/{{.ID}}">{{.RoomName}}<br></a>
               </li>
            {{end}}
         </ul>
         
      </div>
   </div>
</div>
{{end}}