{{template "base" .}}

<style>
   .container {
      background: url(static/images/bg-contact.jpg) no-repeat center;
      max-width: 100%;
      background-size: cover;
      min-height: 100vh;
      color: #fff;
   }
   .rounded{
      border-radius: 1rem;
   }
</style>

{{define "content"}}
<div class="container">
   <div class="row">
      <div class="col">
         <h1 class="mt-3 mb-4">Contact Us</h1>
         <div class="row">
            <div class="col-md-6">
               <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199666.95728476346!2d68.64149346297597!3d38.56150890575183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b5d16fd27bf89b%3A0xddf9378ddea1fd44!2z0JTRg9GI0LDQvdCx0LUsINCi0LDQtNC20LjQutC40YHRgtCw0L0!5e0!3m2!1sru!2s!4v1625144546935!5m2!1sru!2s"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="col-md-6 text-center mt-2" style="font-size: 1.2rem;"  data-aos="fade-down-left" data-aos-duration="1000">
               <i class="bi bi-alarm"></i>
               <strong>NJM Hotel</strong><br>
               21 Jump Street<br>
               Dist. Firdavsi<br>
               Tajikistan<br>
               (+992) 99-000-00099<br>
               <a href="mailto:info@njmh.tj" style="color: white;">info@njmh.tj</a>
               <p data-aos="fade-up-left" data-aos-duration="1000" class="text-center" style="max-width: 90%; margin: 6rem;">Do you have any questions? Please do not hesitate to contact us
                  directly. Our team will come back to you within
                  a matter of hours to help you.</p>
            </div>
         </div>

      </div>
   </div> 
</div>
{{end}}