{{template "base" .}}

{{define "content"}}
<div class="container">
   <div class="row">
      <div class="col">
         <h1 class="mt-3">Contact Us</h1>
         <hr>

         <div class="row">
            <div class="col-md-6">
            <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199666.95728476346!2d68.64149346297597!3d38.56150890575183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b5d16fd27bf89b%3A0xddf9378ddea1fd44!2z0JTRg9GI0LDQvdCx0LUsINCi0LDQtNC20LjQutC40YHRgtCw0L0!5e0!3m2!1sru!2s!4v1625144546935!5m2!1sru!2s"
               width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            </div>

            <div class="col-md-6 text-center">
               <strong>NJM Hotel</strong><br>
               21 Jump Street<br>
               Dist. Firdavsi<br>
               Tajikistan<br>
               (+992) 99-000-00099<br>
               <a href="mailto:info@njmh.tj">info@njmh.tj</a>
            </div>
         </div>

      </div>
   </div>
</div>
{{end}}