{{template "base" .}}

{{define "content"}}
   <div class="container bg" style="min-height: 100vh;">
      <div class="row">
         <div class="col mt-5" data-aos="zoom-in-up" data-aos-duration="1000">
            <img src="/static/images/generals-quarters.jpeg" class="img-fluid img-thumbnail mx-auto d-block"
               alt="room image">
         </div>
      </div>
   
      <div class="row p-2"  data-aos="fade-down" data-aos-duration="1000">
         <div class="col">
            <h1 class="text-center mt-5 mb-4">General's Suite</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus, nihil modi nesciunt ad
               facilis excepturi facere commodi reiciendis eaque ut dolor cum illo provident ex quia atque! Sequi,
               nihil!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam sit quasi fuga alias omnis labore
               nesciunt mollitia molestiae cumque optio adipisci, dolores cupiditate itaque, aut nisi autem nulla fugit
               ullam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, assumenda? Ipsa qui possimus
               quod vitae consectetur doloribus porro natus facere, neque quaerat nobis iusto amet, delectus nesciunt
               facilis quidem nihil.</p>
         </div>
      </div>
   
      <div class="row mt-5">
         <div class="col text-center mb-5" data-aos="fade-left" data-aos-duration="1000">
            <a id="check-availability-button" href="#!" class="btn btn-success" style="padding: .8rem 2rem;">Check Availability</a>
         </div>
      </div>
   </div>
{{end}}



{{define "js"}}
   <script>
      document.getElementById("check-availability-button").addEventListener("click", function() {
         let html = `
            <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
               <div class="row">
               <div class="col">
                  <div class="row" id="reservation-dates-modal">
                     <div class="col">
                     <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                     </div>
                     <div class="col">
                     <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                     </div>
                  </div>
               </div>
               </div>
            </form>`
         
         attention.custom({
            msg: html, 
            title: "Choose your dates",
            willOpen: () => {
               const elem = document.getElementById('reservation-dates-modal');
               const rp = new DateRangePicker(elem, {
                  format: 'yyyy-mm-dd',
                  showOnFocus: true,
                  minDate: new Date(),
               })
            },
            didOpen: () => {
               document.getElementById('start').removeAttribute('disabled');
               document.getElementById('end').removeAttribute('disabled');
            },
            
            callback: function(result) {
               let form = document.getElementById("check-availability-form");
               let formData = new FormData(form);
               formData.append("csrf_token", "{{.CSRFToken}}");
               formData.append("room_id", "1");

               fetch('/search-availability-json', {
                  method: "post",
                  body: formData,
               })
                  .then(response => response.json())
                  .then(data => {
                     if (data.ok) {
                        attention.custom({
                           showConfirmButton: false,
                           icon: 'success',
                           msg: '<p>Room is available!</p>'
                              + '<p><a href="/book-room?id='
                              + data.room_id
                              + '&s='
                              + data.start_date
                              + '&e='
                              + data.end_date
                              + '" class="btn btn-primary">'
                              + 'Book now!</a></p>',
                        })
                     } else (
                        attention.error({
                           msg: "No Availability",
                        })
                     )
                  })
            }
         });
      })
   </script>  
{{end}}