{{template "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide" data-bs-ride="carousel">
   <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
   </button>

   <div class="carousel-inner" style="min-height: 100vh;">
      <div class="carousel-item active">
         <img src="/static/images/roomy-hotel.jpg" class="d-block w-100" alt="room"
            style="filter: brightness(60%);">
         <div data-aos="fade-left" data-aos-duration="2000" class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>Beautiful views of the mountains and the sea</h2>
            <h3>Feel absolute freedom in such an open space</h3>
            </p>
         </div>
      </div>
      <div class="carousel-item">
         <img src="/static/images/room.jpg" class="d-block w-100" alt="tray" style="filter: brightness(60%);">
         <div class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>Cozy rooms</h2>
            <h3>Provide convenient rooms for individuals as well as for family</h3>
         </div>
      </div>

      <div class="carousel-item">
         <img src="/static/images/under.jpg" class="d-block w-100" alt="outside picture"
            style="filter: brightness(60%);">
         <div class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>Evening talks with friends or in family circle</h2>
         </div>
      </div>
      <div class="carousel-item">
         <img src="/static/images/breakfast.jpg" class="d-block w-100" alt="outside picture"
            style="filter: brightness(40%);">
         <div class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>Yummy breakfast you have never taste before</h2>
            <h3>Absolutely for free</h3>
         </div>
      </div>
      <div class="carousel-item">
         <img src="/static/images/sea.jpg" class="d-block w-100" alt="outside picture" style="filter: brightness(60%);">
         <div class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>The whole beach is at your disposal</h2>
         </div>
      </div>
      <div class="carousel-item">
         <img src="/static/images/reception.jpg" class="d-block w-100" alt="outside picture"
            style="filter: brightness(60%);">
         <div class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>Friendly and hospitable receptionists</h2>
         </div>
      </div>
      <div class="carousel-item">
         <img src="/static/images/game-room.jpg" class="d-block w-100" alt="outside picture"
            style="filter: brightness(60%);">
         <div class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>Play games of any genre</h2>
         </div>
      </div>
      <div class="carousel-item">
         <img src="/static/images/home-cinema.jpg" class="d-block w-100" alt="outside picture"
            style="filter: brightness(60%);">
         <div class="carousel-caption d-none d-md-block position-absolute top-50 start-40">
            <h2>Home theater with sound format at your service</h2>
            <h3>Make yourself at home</h3>
         </div>
      </div>

   </div>
</div>

<div class="container bg">
   <div class="row">
      <div class="col mb-5 pb-5" data-aos="fade-up" data-aos-duration="2000">
         <h1 class="text-center mt-5">Welcome to <span style="font-family: 'Krona One', sans-serif;">NJM</span> Hotel
         </h1>
         <p class="text-center" style="font-size: 1.2rem;">We create an environment of lateral service so that the needs
            of our guests and each other are met. We value every
            individual’s contribution and personal growth within the company. We treat everyone with dignity and respect
            at all
            times. We do what we say we will do and are honest and fair. We will take an active role in service to our
            community.</p>
         <p class="text-center" style="font-size: 1.2rem;">Whether you are travelling for business or pleasure, the
            luxury hotel services offered by the five star <span style="font-size: 1.6rem;">N</span>ice <span
               style="font-size: 1.6rem;">J</span>ourney <span style="font-size: 1.6rem;">M</span>an
            Hotel make it an ideal choice for your stay in Dushanbe, Tajikistan. The hotel’s luxurious surroundings,
            comfort,
            thoughtful
            touches and a personalized service sets it apart from any other hotel, allowing you to feel like being at
            home from your
            very first steps into the hotel.

            We are geared towards the fulfillment of the needs of any discerning guest and below you can find an
            alphabetical
            overview of the most commonly-used services and facilities offered by our boutique hotel.</p>
      </div>
   </div>

   <div class="row d-flex justify-content-center" style="color: antiquewhite;">
      <h1 data-aos="fade-down" data-aos-duration="1200" class="text-center mb-5" style="color: antiquewhite;">Our services</h1>
      
      <div class="col-sm-5" data-aos="fade-right" data-aos-duration="2000">
         <div class="card" style="background: transparent; border: none;">
            <img src="/static/images/luggage.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Using a luggage locker or a safety deposit box</h5>
               <p class="card-text">Individually secured container for every guest, so luggage safety won't bother you.
                  We believe in strengthening our communities one neighborhood at a time, serving our customers as if
                  they were our
                  family, and rewarding hard work.</p>
            </div>
         </div>
      </div>

      <div class="col-sm-5 mb-3" data-aos="fade-left" data-aos-duration="2000">
         <div class="card" style="background: transparent; border: none;">
            <img src="/static/images/billiards.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Billiards, gym and playgrounds</h5>
               <p class="card-text">Have a great time with your friends or family playing games and having rest.</p>
            </div>
         </div>
      </div>
      <div class="col-sm-5 mb-3" data-aos="fade-up-right" data-aos-duration="2000">
         <div class="card" style="background: transparent; border: none;">
            <img src="/static/images/restaurant.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Get a booking in a restaurant</h5>
               <p class="card-text">Confirm a table for your party at a specified time.</p>
            </div>
         </div>
      </div>
      <div class="col-sm-5 mb-3" data-aos="fade-up-left" data-aos-duration="2000">
         <div class="card" style="background: transparent; border: none;">
            <img src="/static/images/cars.jpg" class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Car rental</h5>
               <p class="card-text">Rent a car you like and make your holidays more exciting.</p>
            </div>
         </div>
      </div>
   </div>

   <div class="row" style="padding: 8rem;" data-aos="fade-down" data-aos-duration="2000">
      <h1 class="text-center mb-5">Let's make a reservation</h1>
      <div class="col text-center mb-5">
         <a href="/search-availability" class="button_main" style="font-size: 1.2rem;">Make Reservation Now</a>
      </div>
   </div>
   {{end}}