{{template "base" .}}

{{define "content"}}
<div class="container bg p-5">
   <div class="row">
      <div class="col-md-8 offset-2">
         {{$res := index .Data "user"}}

         
         <form method="POST" action="/user/signup" novalidate style="max-width: 65%; margin: 0 auto;">
            <h1 class="mt-4">Sign Up</h1>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

            <div class="form-group mt-4">
               <label for="first_name">First name:</label>
               {{with .Form.Errors.Get "first_name"}}
               <label class="text-danger">{{.}}</label>
               {{end}}
               <input class="form-control {{with .Form.Errors.Get " first_name"}} is-invalid {{end}}" type="text" name="first_name"
                  id="first_name" value="{{$res.FirstName}}" required autocomplete="off">
            </div>
            <!-- start last name -->
            <div class="form-group mt-3">
               <label for="last_name">Last name:</label>
               {{with .Form.Errors.Get "last_name"}}
               <label class="text-danger">{{.}}</label>
               {{end}}
               <input class="form-control {{with .Form.Errors.Get " last_name"}} is-invalid {{end}}" type="text" name="last_name"
                  id="last_name" value="{{$res.LastName}}" required autocomplete="off">
            </div>
            <!-- start email section -->
            <div class="form-group mt-3">
               <label for="email">Email:</label>
               {{with .Form.Errors.Get "email"}}
               <label class="text-danger">{{.}}</label>
               {{end}}
               <input class="form-control {{with .Form.Errors.Get " email"}} is-invalid {{end}}" type="email" name="email"
                  id="email" value="{{$res.Email}}" required autocomplete="off">
            </div>
            <!-- end email section -->

            <!-- start password section -->
            <div class="form-group mt-3">
               <label for="password">Password</label>
               {{with .Form.Errors.Get "password"}}
               <label class="text-danger">{{.}}</label>
               {{end}}
               <input class="form-control {{with .Form.Errors.Get " password"}} is-invalid {{end}}" id="password" autocomplete="off"
                  type='password' name='password' value="" required>
            </div>
            <!-- end password section -->
            <hr>
            <input type="submit" class="btn btn-primary mb-4" value="Sign Up">
         </form>
      </div>
   </div>
</div>
{{end}}